<%= form_with model: ciu8_display do |form| %>
  <div>
    <%= form.label :transformer_substation, "ТП" %>
    <%= form.text_field :transformer_substation %>
    <% ciu8_display.errors[:transformer_substation].each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :adress_street, "Улица" %>
    <%= form.text_field :adress_street %>
    <% ciu8_display.errors[:adress_street].each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :adress_number, "Номер дома" %>
    <%= form.text_field :adress_number %>
  </div>

  <div>
    <%= form.label :meter_model, "Модель ПУ" %>
    <%= form.text_field :meter_model %>
    <% ciu8_display.errors[:meter_model].each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :meter_serial_number, "S/N ПУ" %>
    <%= form.text_field :meter_serial_number %>
    <% ciu8_display.errors[:meter_serial_number].each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :display_serial_number, "S/N CIU8" %>
    <%= form.text_field :display_serial_number %>
    <% ciu8_display.errors[:display_serial_number].each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="flex gap-3">
    <%= form.submit %> <%= link_to "Отмена", ciu8_displays_path %>
  </div>
<% end %>
